// Colors

$color-font-primary: #777;
$color-teal: #58e1c1;
$color-teal-link: #51ddfc;
$color-teal-link-light: lighten($color-teal-link, 10%);
$color-white: #fff;
$color-salmon: #e4757a;
$color-salmon-light: lighten($color-salmon, 10%);
$color-light-purple: #927bc1;
$color-light-purple-light: lighten($color-light-purple, 10%);
$color-green-teal: #63cc82;
$color-green-teal-light: lighten($color-green-teal, 10%);
$color-orange: #fd7856;
$color-orange-light: lighten($color-orange, 10%);

// Media Query Breakpoints

$brk-wide: '(min-width: 768px)';

// Font

$stack-sans-serif: 'Lato', sans-serif;

$font-weight-light : 300;
$font-weight-bold : 700;

