
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    &:hover {
      transition: all 0.6s ease-in-out;
    }
  }
  
  .default {
    background-color: $color-teal-link;

    &:hover {
      background-color: lighten($color-teal-link, 10%);
    }
  }

  .error {
    background-color: $color-salmon;

    &:hover {
      background-color: lighten($color-salmon, 10%);
    }
  }
  
  .info {
    background-color: $color-light-purple;

    &:hover {
      background-color: lighten($color-light-purple, 10%);
    }
  }
  
  .success {
    background-color: $color-green-teal;

    &:hover {
      background-color: lighten($color-green-teal, 10%);
    }
  }
  
  .warning {
    background-color: $color-orange;

    &:hover {
      background-color: lighten($color-orange, 10%);
    }
  }

  